/*
 * ml-plugin: ml-ui.css
 * XNAT http://www.xnat.org
 * Copyright (c) 2005-2021, Washington University School of Medicine
 * All Rights Reserved
 *
 * Released under the Simplified BSD.
 */

.xnat-nav-tabs.top {}
.xnat-nav-tabs.top > ul {
    margin-bottom: 0;
}

.inset-viewer {
    padding: 1em;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    height: 60px;
    overflow-y: scroll;
    margin-bottom: 2em;
    word-break: break-all;
}

.modelContainer {
    margin: 0 0 4em;
}
.modelContainer:last-of-type {
    margin: 0;
}
.modelContainer h3 {
    border: none;
    margin-bottom: 10px;
    overflow: auto;
    padding: 20px 0 0 2em;
    position: relative;

}
.modelContainer h3:before {
    font-family: "FontAwesome";
    content: "\f085";
    font-size: 1.5em;
    color: #808080;
    position: absolute;
    top: .9em; left: 1px;
}

/* Panel Style Enhancements for Dashboards */
.project-panel {}
.project-panel .col-2,
.page-panel .col-2 {
    box-sizing: border-box;
    float: left !important;
    margin-right: 5%;
    width: 45%;
}
.panel.page-panel .panel-element { margin: 2em 0; }
.panel.project-panel .panel-element .element-label { text-align: left; width: 50%; }
.panel.project-panel .panel-element .element-wrapper { width: 50%; }

.panel.page-panel .panel-element .element-label { text-align: left; width: 20% }
.panel.page-panel .panel-element .element-wrapper { width: 80%; }

.panel-heading .btn { margin-top: -4px; }
.panel-default.disabled .panel-heading {
    background: #A8A8A8;
}
.panel-default.disabled .panel-heading:after {
    content: ' (Inactive)';
}

.panel .grouped-input { }
.panel .grouped-input label {
    display: inline-block;
    font-weight: bold;
    width: 100px;
}
.panel .grouped-input input {
    display: inline-block;
}

/* icon statuses */
.fa.severe {
    color: #900;
}
.launchParams {
    border-top: 1px solid #ccc;
    margin: 1em 0 0;
    padding: 2em 0 0;
}

.datasetParams pre {
    margin: -15px 0 0;
}

.training-run-status {
    text-transform: capitalize;
}