#* @vtlvariable name="element" type="org.nrg.xdat.schema.SchemaElement" *#
#* @vtlvariable name="item" type="org.nrg.xft.XFTItem" *#
#* @vtlvariable name="om" type="org.nrg.xdat.om.MlTrainconfig" *#
#* @vtlvariable name="project" type="java.lang.String" *#
#* @vtlvariable name="search_field" type="java.lang.String" *#
#* @vtlvariable name="search_value" type="java.lang.String" *#
#* @vtlvariable name="turbineUtils" type="org.nrg.xdat.turbine.utils.TurbineUtils" *#
#* @vtlvariable name="user" type="org.nrg.xdat.security.XDATUser" *#
<!-- BEGIN META-INF/resources/templates/screens/XDATScreen_report_ml_trainConfig.vm -->
#if($project)
#else
    #set($project=$om.project)
#end
#parse("/screens/reportPageActionEnablers.vm")

<style type="text/css">
    .json-to-display pre {
        background: #f0f0f0;
        border: 1px solid #ccc;
        max-height: 350px;
        overflow-y: scroll;
        padding: 6px;
    }
</style>

<h2>Training Configuration: $om.label</h2>

<div id="actions-box" class="pull-right">
    #elementActionsBoxNoEnd($element $search_field $search_value $user $item)
	    #addCustomScreens("$element" "actionsBox")
        </div>
    </div>
</div>

<div id="experiment-summary" style="width: 70%">
    <!-- BEGIN SET AND PARSE SUMMARY TABS -->
    #addCustomScreens($om.xSIType "report/preContent")
    #set($summary_tabs=$turbineUtils.getTemplateName("_summary_tabs","ml:trainConfig",$project))
    #parse($turbineUtils.getTemplateName("_summary_tabs","ml:trainConfig",$project))
    <!-- END SET AND PARSE SUMMARY TABS -->
</div>
<div class="clearfix clear" style="margin: 1.5em 0"></div>

<h3>Configuration Template Code</h3>
<div class="json-to-display">
    $!om.configuration.template
</div>
<div class="clearfix clear" style="margin: 1.5em 0"></div>


<h3>Settable Parameters</h3>
<div class="json-to-display">
    $!om.configuration.parameterizable
</div>
<div class="clearfix clear" style="margin: 1.5em 0"></div>

<h3>Dataset Template Code</h3>
<div class="json-to-display">
    $!om.dataset.template
</div>
<div class="clearfix clear" style="margin: 1.5em 0"></div>

<h3>Dataset Splitting Parameters</h3>
<div class="json-to-display">
    $!om.dataset.parameterizable
</div>
<div class="clearfix clear" style="margin: 1.5em 0"></div>

<script>
    // prettify JSON outputs
    $(document).ready(function(){
        $('.json-to-display').each(function(){
            var code = $(this).html();
//            $(this).html(prettifyJSON(JSON.parse(code)));
            $(this).html(spawn('pre',JSON.stringify(JSON.parse(code),null,4)))
        })
    });
</script>
<!-- END META-INF/resources/templates/screens/XDATScreen_report_ml_trainConfig.vm -->
